.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapperFocused {
  .label {
    transform: translateY(-35px);
    color: #05AC6A;
  }
}

.inputWrapperFilled {
  .label {
    opacity: 0;
  }
}

.label {
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 16px;
  top: 14px;
  pointer-events: none;
  transition: transform 0.3s, color 0.3s, opacity 0.3s;
}

.input {
  padding: 14px 16px;
  border: 0;
  border-bottom: 1px solid #000;
  background: #FFF;
  font-size: 22px;
  font-weight: 600;
  outline: none;
  width: 100%;
}