.button {
  padding: 18px 79px;
  border-radius: 8px;
  background: #6F6F6F;
  transition: background-color 0.3s;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #05AC6A;
  }
}

.buttonBack {
  padding: 4px 24px 4px 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}