.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0;
}

.title {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 48px;
}

.form {
  width: 628px;
  height: 803px;
  perspective: 5000px;
  position: relative;
}

.formFlipped {
  .formFront {
    transform: rotateY(180deg);
  }

  .formBack {
    transform: rotateY(0);
  }
}

.formTitle {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 48px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.formFront,
.formBack {
  backface-visibility: hidden;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 23px 55px 40px 55px;
  border-radius: 16px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.formBack {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBackTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 57px;
}

.formBackBtn {
  margin-top: 42px;
}

@media (max-width: 767px) {
  .formWrapper {
    padding: 16px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form,
  .formFront,
  .formBack {
    padding: 16px;
    width: 100%;
  }

  .formTitle {
    margin-bottom: 16px;
  }

  .formBackTitle {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .formFooter {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 24px;
    gap: 16px;

    br {
      display: none;
    }
  }

  .button {
    width: 100%;
  }
}