.textareaWrapper {
  width: 100%;
  position: relative;
}

.textareaWrapperDisabled {
  .textarea {
    background: #ECECEC;
    pointer-events: none;

    &::placeholder {
      opacity: 0;
    }
  }
}

.textarea {
  padding: 15px 16px;
  height: 168px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #FFF;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  outline: none;

  &::placeholder {
    color: #000;
  }
}

.hint {
  width: 24px;
  height: 24px;
  background-color: #6F6F6F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 6px;
  right: 8px;
  cursor: pointer;
  transition: background-color 0.3s, filter 0.3s;

  &:hover {
    background-color: #05AC6A;
    filter: drop-shadow(0px 0px 8px rgba(5, 172, 106, 0.50));
  }
}