.list {
  padding-left: 40px;
}

.listItem {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.listItemTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.listItemText {
  font-size: 17px;
  font-weight: 600;
  padding-left: 22px;
}

@media (max-width: 767px) {
  .list {
    padding: 0;
  }

  .listItem {
    margin-bottom: 16px;
  }

  .listItemTitle {
    font-size: 18px;
  }

  .listItemText {
    font-size: 15px;
  }
}