* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #E3E3E3 url('../../public/images/background.svg') top right no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
}
