.fileInput {
  position: relative;
  padding-left: 16px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.fileInputSelected {
  color: #05AC6A;
}

.fileInputDisabled {
  color: #6F6F6F;
  pointer-events: none;
}

.label {
  cursor: pointer;
}

.input {
  display: none;
}

.clearButton {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
}

.fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}