.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 26px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;

  a {
    text-decoration: none;
    color: #05AC6A;
  }
}

.input {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0;

  &:checked ~ .checkbox::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #05AC6A;
  }
}

.checkbox {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #05AC6A;
  background: #FFF;
  position: relative;
}
